#自动调用api保活，模仿人为开发版
name: XiaoMI Edit

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
  #    - master
  schedule:
    - cron: "0 0 23 * * *"
  watch:
    types: [started]
   
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up Python #安装python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install requests #安装requests
      run: |
        pip install requests
    - name: Read config from secrets  #读取机密
      env: 
        ID: ${{ secrets.ID }} # secrets_id 提供
        KEY: ${{ secrets.KEY }} # secrets_key 提供
      run: | 
        cp XiaoMIEdit.py xiaomi2.py
        echo $ID >id.txt
        echo $KEY > key.txt
        sed -i '10 r id.txt' xiaomi2.py
        sed -i '12 r key.txt' xiaomi2.py
    - name: Test Api #Api调用
      run: | 
        echo `date +"%Y-%m-%d %H:%M:%S"` begin > time.log
        python xiaomi2.py
    - name: Delete secrets config #删除机密
      run: | 
        rm -f xiaomi2.py
        rm -f id.txt
        rm -f key.txt    
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}